@import '../../node_modules/bootstrap/dist/css/bootstrap';
@import '../../node_modules/jquery.tabulator/src/scss/tabulator_simple';

body {
	background: white;
}

body { 
  margin:0;
  padding:0;
}

.map-container {
 position: relative; 
 padding-top: 15%;  
 border: solid 3px red;
}

#mapbox, #mapbox2 { 
  position:absolute; 
  top:0; 
  bottom:0; 
  width:100%; 
}

#info {
    display: block;
    position: absolute;
    bottom: 0;
    left: 30%;
    margin: 0px auto;
    width: 50%;
    border: none;
    border-radius: 3px;
    font-size: 12px;
    text-align: center;
    color: #222;
    background: #fff;
}

#example-table {
    width: 40%;
    display: block;
    float: left;
}

.map-container {
    width: 55%;
    height: 40vh;
    display: block;
    float: right;
}

.train-icon {
    border-radius: 100%;
    border-color: white;
    color: white;
}

.subway_line_box {
  background: #f0f0f0;
  border: solid 3px black;
}


#cy {
  width: 55%;
  height: 40vh;
  display: block;
  float: right;
  border: 2px solid red;
}

 #menu {
    position: absolute;
    bottom: 0;
    left: 0;
    background: #fff;
    padding: 2px;
    font-family: 'Open Sans', sans-serif;
}